In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [77]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data',sep='\t',names=column_names)

In [78]:
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [79]:
movie_titles = pd.read_csv('Movie_Id_Titles')
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [80]:
final = pd.merge(df,movie_titles,on='item_id')
final.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

In [93]:
final.groupby('title')['rating'].mean()

title
'Til There Was You (1997)                                   2.333333
1-900 (1994)                                                2.600000
101 Dalmatians (1996)                                       2.908257
12 Angry Men (1957)                                         4.344000
187 (1997)                                                  3.024390
2 Days in the Valley (1996)                                 3.225806
20,000 Leagues Under the Sea (1954)                         3.500000
2001: A Space Odyssey (1968)                                3.969112
3 Ninjas: High Noon At Mega Mountain (1998)                 1.000000
39 Steps, The (1935)                                        4.050847
8 1/2 (1963)                                                3.815789
8 Heads in a Duffel Bag (1997)                              3.250000
8 Seconds (1994)                                            3.750000
A Chef in Love (1996)                                       4.125000
Above the Rim (1994)                                        3.000000
Absolute Power (1997)                                       3.370079
Abyss, The (1989)                                           3.589404
Ace Ventura: Pet Detective (1994)                           3.048544
Ace Ventura: When Nature Calls (1995)                       2.675676
Across the Sea of Time (1995)                               2.750000
Addams Family Values (1993)                                 2.816092
Addicted to Love (1997)                                     3.166667
Addiction, The (1995)                                       2.181818
Adventures of Pinocchio, The (1996)                         3.051282
Adventures of Priscilla, Queen of the Desert, The (1994)    3.594595
Adventures of Robin Hood, The (1938)                        3.791045
Affair to Remember, An (1957)                               4.192308
African Queen, The (1951)                                   4.184211
Afterglow (1997)                                            3.111111
Age of Innocence, The (1993)                                3.384615
                                                              ...
Window to Paris (1994)                                      4.000000
Wings of Courage (1995)                                     4.000000
Wings of Desire (1987)                                      4.000000
Wings of the Dove, The (1997)                               3.680000
Winnie the Pooh and the Blustery Day (1968)                 3.800000
Winter Guest, The (1997)                                    3.444444
Wishmaster (1997)                                           2.444444
With Honors (1994)                                          3.065217
Withnail and I (1987)                                       3.230769
Witness (1985)                                              4.000000
Wizard of Oz, The (1939)                                    4.077236
Wolf (1994)                                                 2.701493
Woman in Question, The (1950)                               1.000000
Women, The (1939)                                           3.666667
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)    4.000000
Wonderland (1997)                                           3.200000
Wooden Man's Bride, The (Wu Kui) (1994)                     2.666667
World of Apu, The (Apur Sansar) (1959)                      4.000000
Wrong Trousers, The (1993)                                  4.466102
Wyatt Earp (1994)                                           3.100000
Yankee Zulu (1994)                                          1.000000
Year of the Horse (1997)                                    3.285714
You So Crazy (1994)                                         3.000000
Young Frankenstein (1974)                                   3.945000
Young Guns (1988)                                           3.207921
Young Guns II (1990)                                        2.772727
Young Poisoner's Handbook, The (1995)                       3.341463
Zeus and Roxanne (1997)                                     2.166667
unknown                                                     3.444444
Á köldum klaka (Cold Fever) (1994)                          3.000000
Name: rating, Length: 1664, dtype: float64

In [98]:
final.groupby('title')['rating'].count()

title
'Til There Was You (1997)                                     9
1-900 (1994)                                                  5
101 Dalmatians (1996)                                       109
12 Angry Men (1957)                                         125
187 (1997)                                                   41
2 Days in the Valley (1996)                                  93
20,000 Leagues Under the Sea (1954)                          72
2001: A Space Odyssey (1968)                                259
3 Ninjas: High Noon At Mega Mountain (1998)                   5
39 Steps, The (1935)                                         59
8 1/2 (1963)                                                 38
8 Heads in a Duffel Bag (1997)                                4
8 Seconds (1994)                                              4
A Chef in Love (1996)                                         8
Above the Rim (1994)                                          5
Absolute Power (1997)                                       127
Abyss, The (1989)                                           151
Ace Ventura: Pet Detective (1994)                           103
Ace Ventura: When Nature Calls (1995)                        37
Across the Sea of Time (1995)                                 4
Addams Family Values (1993)                                  87
Addicted to Love (1997)                                      54
Addiction, The (1995)                                        11
Adventures of Pinocchio, The (1996)                          39
Adventures of Priscilla, Queen of the Desert, The (1994)    111
Adventures of Robin Hood, The (1938)                         67
Affair to Remember, An (1957)                                26
African Queen, The (1951)                                   152
Afterglow (1997)                                             18
Age of Innocence, The (1993)                                 65
                                                           ...
Window to Paris (1994)                                        1
Wings of Courage (1995)                                       1
Wings of Desire (1987)                                       57
Wings of the Dove, The (1997)                                75
Winnie the Pooh and the Blustery Day (1968)                  75
Winter Guest, The (1997)                                      9
Wishmaster (1997)                                            27
With Honors (1994)                                           46
Withnail and I (1987)                                        13
Witness (1985)                                                1
Wizard of Oz, The (1939)                                    246
Wolf (1994)                                                  67
Woman in Question, The (1950)                                 1
Women, The (1939)                                            15
Wonderful, Horrible Life of Leni Riefenstahl, The (1993)     10
Wonderland (1997)                                            10
Wooden Man's Bride, The (Wu Kui) (1994)                       3
World of Apu, The (Apur Sansar) (1959)                        6
Wrong Trousers, The (1993)                                  118
Wyatt Earp (1994)                                            50
Yankee Zulu (1994)                                            1
Year of the Horse (1997)                                      7
You So Crazy (1994)                                           1
Young Frankenstein (1974)                                   200
Young Guns (1988)                                           101
Young Guns II (1990)                                         44
Young Poisoner's Handbook, The (1995)                        41
Zeus and Roxanne (1997)                                       6
unknown                                                       9
Á köldum klaka (Cold Fever) (1994)                            1
Name: rating, Length: 1664, dtype: int64

In [99]:
ratings = pd.DataFrame(final.groupby('title')['rating'].mean())
ratings ['num of ppl who gave ratings'] = pd.DataFrame(final.groupby('title')['rating'].count())
ratings.head()

                             rating  num of ppl who gave ratings
title
'Til There Was You (1997)  2.333333                            9
1-900 (1994)               2.600000                            5
101 Dalmatians (1996)      2.908257                          109
12 Angry Men (1957)        4.344000                          125
187 (1997)                 3.024390                           41

In [106]:
ratings.sort_values('num of ppl who gave ratings',ascending=False)

,rating,num of ppl who gave ratings
title,,
Star Wars (1977),4.359589,584
Contact (1997),3.803536,509
Fargo (1996),4.155512,508
Return of the Jedi (1983),4.007890,507
Liar Liar (1997),3.156701,485
"English Patient, The (1996)",3.656965,481
Scream (1996),3.441423,478
Toy Story (1995),3.878319,452
Air Force One (1997),3.631090,431
Independence Day (ID4) (1996),3.438228,429
Raiders of the Lost Ark (1981),4.252381,420
"Godfather, The (1972)",4.283293,413
Pulp Fiction (1994),4.060914,394
Twelve Monkeys (1995),3.798469,392
"Silence of the Lambs, The (1991)",4.289744,390
Jerry Maguire (1996),3.710938,384
Chasing Amy (1997),3.839050,379
"Rock, The (1996)",3.693122,378
"Empire Strikes Back, The (1980)",4.206522,368
Star Trek: First Contact (1996),3.660274,365
Titanic (1997),4.245714,350
Back to the Future (1985),3.834286,350
Mission: Impossible (1996),3.313953,344
"Fugitive, The (1993)",4.044643,336
Indiana Jones and the Last Crusade (1989),3.930514,331
Willy Wonka and the Chocolate Factory (1971),3.631902,326
"Princess Bride, The (1987)",4.172840,324
Forrest Gump (1994),3.853583,321
"Saint, The (1997)",3.123418,316
Monty Python and the Holy Grail (1974),4.066456,316
...,...,...
Every Other Weekend (1990),1.000000,1
Etz Hadomim Tafus (Under the Domin Tree) (1994),2.000000,1
Entertaining Angels: The Dorothy Day Story (1996),5.000000,1
Quartier Mozart (1992),1.000000,1
"Eighth Day, The (1996)",3.000000,1
Desert Winds (1995),4.000000,1
"Death in the Garden (Mort en ce jardin, La) (1956)",1.000000,1
Paris Was a Woman (1995),3.000000,1
Stefano Quantestorie (1993),1.000000,1
I Don't Want to Talk About It (De eso no se habla) (1993),4.000000,1
Nothing Personal (1995),2.000000,1
Tokyo Fist (1995),4.000000,1
Normal Life (1996),3.000000,1
Hush (1998),2.000000,1
"Hungarian Fairy Tale, A (1987)",1.000000,1
Hostile Intentions (1994),1.000000,1
Homage (1995),1.000000,1
Here Comes Cookie (1935),2.000000,1
Hedd Wyn (1992),1.000000,1
Touki Bouki (Journey of the Hyena) (1973),1.000000,1
Girl in the Cadillac (1995),1.000000,1
He Walked by Night (1948),4.000000,1
Hana-bi (1997),3.000000,1
"Object of My Affection, The (1998)",4.000000,1
Office Killer (1997),1.000000,1
"Great Day in Harlem, A (1994)",5.000000,1
"Other Voices, Other Rooms (1997)",3.000000,1
Good Morning (1971),1.000000,1
Girls Town (1996),3.000000,1
Á köldum klaka (Cold Fever) (1994),3.000000,1

In [109]:
indu_ratings_to_movies = final.pivot_table(index='user_id',columns='title',values='rating')
indu_ratings_to_movies.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
star_wars=indu_ratings_to_movies['Star Wars (1977)']
liar_liar= indu_ratings_to_movies['Liar Liar (1997)']

In [119]:
similar_to_starwars = indu_ratings_to_movies.corrwith(star_wars)
similar_to_liarliar = indu_ratings_to_movies.corrwith(liar_liar)

C:\Users\Aswin\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Aswin\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [128]:
corr_liarliar = pd.DataFrame(similar_to_liarliar,columns=['Correlation'])
corr_liarliar.dropna(inplace=True)
corr_liarliar = corr_liarliar.join(ratings['num of ppl who gave ratings'])
corr_liarliar[corr_liarliar['num of ppl who gave ratings']>100].sort_values('Correlation',ascending=False)

,Correlation,num of ppl who gave ratings
title,,
Liar Liar (1997),1.000000,485
Batman Forever (1995),0.516968,114
"Mask, The (1994)",0.484650,129
Down Periscope (1996),0.472681,101
Con Air (1997),0.469828,137
Pretty Woman (1990),0.469790,164
101 Dalmatians (1996),0.469765,109
Michael (1996),0.442022,119
Waterworld (1995),0.438405,102
Indiana Jones and the Last Crusade (1989),0.414427,331
Young Guns (1988),0.410988,101
Top Gun (1986),0.405720,220
G.I. Jane (1997),0.397931,175
Ace Ventura: Pet Detective (1994),0.397554,103
Multiplicity (1996),0.396860,134
"Craft, The (1996)",0.394830,104
Grumpier Old Men (1995),0.390699,148
"Ghost and the Darkness, The (1996)",0.379075,128
Back to the Future (1985),0.378028,350
Shine (1996),0.376520,129
Jurassic Park (1993),0.370770,261
"Saint, The (1997)",0.362803,316
Field of Dreams (1989),0.360339,212
"Shawshank Redemption, The (1994)",0.354533,283
Aladdin (1992),0.354506,219
While You Were Sleeping (1995),0.352230,162
GoldenEye (1995),0.351321,131
Mrs. Doubtfire (1993),0.349753,192
Mission: Impossible (1996),0.348885,344
Father of the Bride Part II (1995),0.346244,128
...,...,...
Trainspotting (1996),-0.059411,250
Heathers (1989),-0.060498,171
Amistad (1997),-0.063075,124
"Room with a View, A (1986)",-0.064547,134
Bonnie and Clyde (1967),-0.069472,122
"Shining, The (1980)",-0.077023,206
"Piano, The (1993)",-0.080060,168
True Romance (1993),-0.084000,104
Chinatown (1974),-0.088108,147
Raising Arizona (1987),-0.096784,256
Rosewood (1997),-0.098002,114
Fargo (1996),-0.110496,508
"Killing Fields, The (1984)",-0.115568,121
Monty Python's Life of Brian (1979),-0.116640,174
Kolya (1996),-0.117228,117
Apocalypse Now (1979),-0.128239,221
Henry V (1989),-0.129751,124
Leaving Las Vegas (1995),-0.137398,298
On Golden Pond (1981),-0.144416,106
Fantasia (1940),-0.147819,174
This Is Spinal Tap (1984),-0.158213,191
Secrets & Lies (1996),-0.158245,162
"Crying Game, The (1992)",-0.160118,119
Brazil (1985),-0.161261,208
Conan the Barbarian (1981),-0.167078,107
Hoop Dreams (1994),-0.184503,117
Ed Wood (1994),-0.199481,133
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963),-0.238092,194
Welcome to the Dollhouse (1995),-0.254231,112
Raging Bull (1980),-0.308129,116